.product-list {
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    margin: .46154em .38462em 0 0;
    padding: 0 0 1.84615em;
    overflow: hidden;
    display: flex;
}

.product-image-list {
    margin-top: 5px;
    width: 200px;
    height: 167px;
}

.card {
    border-radius: .5rem !important;
}

.input-group {
    display: flex !important;
    flex-wrap: inherit !important;
}

.sidebar {
    background-color: #ffffff;
    max-height: 100%;
    display: block !important;
}

.sidebar-sticky {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    left: 0;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.image-show {
    width: 460px;
    height: 365px;
}